/* Comment out or delete this file, if sticky header not required.*/
.header {
    position: sticky;
    z-index: 100;
    top: -1px; /* top: 0 leaves a 1px gap at the top of the page */
    right: 0;
    left: 0;
}

.sticky-shadow-header {
    box-shadow: var(--shadow-bottom) var(--shadow-colour);
}

.sticky-shadow-footer {
    box-shadow: var(--shadow-top) var(--shadow-colour);
}

.theme-toggler {
    position: fixed;
    z-index: 200;
}
