.primary-navigation {
    padding-block-start: 1rem;
    & ul {
        display: flex;
        gap: 1.25rem;
        align-items: baseline;
        width: fit-content;
        margin-inline: auto;
    }

    & a {
        color: var(--accent-colour);
        border-block-end: 0.3125rem solid transparent;
        padding-block-end: 0.3125rem;
        margin-block-end: 0.625rem;
        display: block;
        cursor: pointer;
        text-decoration: none;

        &[aria-current="page"] {
            pointer-events: none;
            border-block-end: 0.3125rem solid var(--body-bg);
            color: var(--body-fg);
        }
    }

    @media (hover: hover) {
        & a:hover {
            border-block-end: 0.3125rem solid var(--body-bg);
            color: var(--body-fg);
        }
    }
}
