:root {
    overflow-y: scroll;
    color-scheme: light;

    /* 
        If sticky header: Space between top of viewport and main content when skip link is activated.
        Adjust  the value by sight.
    
    */
    --skip-link-gap: 20rem;

    /* 
        Magic number :( Adjust this according to number of menu items.
        Stops 'stutter' effect when mobile menu is displayed. 
        Comment out (or delete) if navigation/mobile navigation not required.
    */
    --mobile-menu-height: 11rem;

    --animation-timing: 250ms;
    --bold: 600;
    --border-radius: 1.25rem;
    --trim: trim-both cap alphabetic;
    --shadow-top: 0 -0.25rem 0.375rem;
    --shadow-bottom: 0 0.25rem 0.375rem;
    --shadow-right-bottom: 0.25rem 0.25rem 0.5rem;
    --warning: red;
    --focus: 255, 165, 0;

    /* light mode (default) */
    --body-bg: #efecec;
    --body-fg: #000;
    --el-bg: #fff;
    --accent-colour: blue;
    --image-invert: 0;
    --shadow-colour: rgba(0, 0, 0, 0.2);
}

.darkmode {
    color-scheme: dark;
    --body-bg: #333;
    --body-fg: #fff;
    --el-bg: #000;
    --accent-colour: aqua;
    --image-invert: 1;
    --shadow-colour: rgba(0, 0, 0, 0.5);
}
/* Automatic dark mode based on system preference */
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #333;
        --body-fg: #fff;
        --el-bg: #000;
        --accent-colour: aqua;
        --image-invert: 1;
        --shadow-colour: rgba(0, 0, 0, 0.5);
    }
}
